# LLM provider
OPENAI_API_KEY=insert_your_openai_key_here
OPENAI_LLM_PROVIDER=openai
DEFAULT_OPENAI_LLM_MODEL=gpt-4.1-mini

# Paths
DOCS_DIR_PATH=data/docs
TRANSACTIONS_MOCK_FILE_PATH=data/mocks/transactions_mock_jan2025_sep2026.json