# LLM provider
OPENAI_LLM_PROVIDER=openai
OPENAI_LLM_MODEL=gpt-4.1-mini
OPENAI_API_KEY=insert_your_openai_key_here

# Embeddings model
EMBEDDINGS_MODEL=text-embedding-3-small

# Paths
DOCS_PATH=data/docs
TRACES_PATH=traces